html {
      background-color: rgb(11, 5, 44);
      color: rgb(247, 245, 243);
}

/* Main-Visual */
section > article.main_visual {
      position: absolute;
      top: 250px;
      left: 10%;
}
section > article.main_visual > div.profile-image{
      float: left;
      padding-right: 100px;
      transform: translateX(-10%);
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
section > article.main_visual > div.profile-hi {float: left;}
section > article.main_visual > div.profile-hi > h3{
      font-size: 50px;
      font-weight: 700;
      line-height: 130%;
}
#hashtag {font-size: 30px; font-weight: 500; color:#cdff44;}
section > article.main_visual > div.profile-hi > div.profile {margin-top: 110px; line-height: 200%;}
section > article.main_visual > div.profile-hi > div.profile > a {text-decoration: none;}
#hi-1, #hi-2, #hashtag {
      transform: translateY(-20%);
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.button > a {padding:20px 100px}

.profile > .button{
      transform: translateX(20%);
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.profile > p{
      transform: translateY(30%);
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}