#layer_1 {
  position: fixed;
  top:33vh;
  left: -50px;
  right: 0;
  width: 990px;
  margin: auto;
}

#layer_2 {
  position: fixed;
  top: 100px;
  left: 500px;
  right: 0;
  width: 200px;
  margin: auto;
  fill:none;
  stroke: #fff;
  stroke-width: 3px;
}
#layer_2_1 {
  position: fixed;
  top: 80px;
  left: 600px;
  right: 0;
  width: 130px;
  margin: auto;
  fill:none;
  stroke: #fff;
  stroke-width: 3px;
}
#layer_3 {
  position: fixed;
  top: 700px;
  left: -600px;
  right: 0;
  width: 300px;
  margin: auto;
  fill:none;
  stroke: #fff;
  stroke-width: 2px;
}

#layer_4 {
  position: fixed;
  bottom: -50px;
  right: -50px;
  width: 500px;
  margin: auto;
  fill: none;
  stroke: rgb(223, 220, 197);
  stroke-width: 1px;
  opacity: 0.7;
}

#layer_5 {
  position: fixed;
  left: 8%; top: 30px;
  z-index: -3;
  width: 220px;
  fill: none;
  stroke: rgb(223, 220, 197);
  stroke-width: 2px;
}

#layer_6 {
  z-index: -10;
  position: fixed;
  top: 120px;
  left: 0px;
  width: 520px;
  margin: auto;
  fill: none;
  stroke: rgb(223, 220, 197);
  stroke-width: 2px;
  transform: rotate('-15deg');
}

#layer_7 {
  z-index: -10;
  position: fixed;
  top: 380px;
  right: -50px;
  width: 600px;
  margin: auto;
  fill: none;
  stroke: rgb(223, 220, 197);
  stroke-width: 2px;
}

#layer_8 {
  z-index: -10;
  position: fixed;
  top: 100px;
  right: 180px;
  width: 230px;
  margin: auto;
  fill: none;
  stroke: rgb(223, 220, 197);
  stroke-width: 3px;
}

#layer_9 {
  z-index: -10;
  position: fixed;
  top: 100px;
  right: 200px;
  width: 230px;
  margin: auto;
  fill: none;
  stroke: rgb(223, 220, 197);
  stroke-width: 3px;
}

#layer_10 {
  z-index: -10;
  position: fixed;
  bottom: -50px;
  left: -50px;
  width: 400px;
  transform: rotate(-15deg);
  margin: auto;
  fill: none;
  stroke: rgb(139, 139, 134);
  stroke-width: 1px;
}

#layer_11 {
  z-index: -10;
  position: fixed;
  bottom: 50px;
  left: 30px;
  width: 600px;
  /* transform: rotate(-15deg); */
  margin: auto;
  fill: none;
  stroke: rgb(139, 139, 134);
  stroke-width: 1px;
}

#layer_12 {
  z-index: -10;
  position: fixed;
  top: 150px;
  right: 150px;
  width: 150px;
  /* transform: rotate(-15deg); */
  margin: auto;
  fill: none;
  stroke:#fff;
  stroke-width: 4px;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { /*스타일입력*/}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  #layer_1{width: 80%; left:0; top:45%;}
  #layer_2{width: 30%; left: 30%; top:10%;}
  #layer_2_1{width: 20%; left: 50%;top:10%;}
  #layer_3{top:70%;left: 0;width: 30%;}
  #layer_4{width: 60%;}
  #layer_5{left:0; width: 50%;}
  #layer_6{width: 40%;}
  #layer_7{width: 70%; right: 5%;}
  #layer_8{right: 5%; width: 30%;}
  #layer_9{right: 5%; width: 30%;}
  #layer_10{width: 50%;}
  #layer_11{width: 70%;}
  
}