html {
      background-color: rgb(11, 5, 44);
	color: rgb(247, 245, 243);
	font-family: 'Noto Sans KR', sans-serif;
}

section{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
    -webkit-justify-content: center;
      align-items: center;
    -webkit-align-items: center;
}


.works_tit{
	position: absolute;
	height: 720px;	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	margin: auto;
	text-align: center;
	font-size: 100px;
	font-weight: 900;
	line-height: 120px;
}
.works_tit ul li a{
	transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}
.works_tit ul li a:hover{
/* 카테고리에 마우스 hover했을 때, 색상이 변하도록 함. */
cursor: pointer;
color: #2100df;
transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);}

.works{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: fit-content;
	height: 500px;margin: auto;
}

.thumbnail{
	float: left;
	transform: translateY(20%);
	transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
	width: 700px; height: 500px; margin-right: 50px;
}

#portfolio1 .thumbnail {background-image: url(../image/portfolio1.png); background-size: cover;}
#portfolio2 .thumbnail {background-image: url(../image/portfolio2.png); background-size: cover;}
#portfolio3 .thumbnail {background-image: url(../image/portfolio3.png); background-size: cover;}
#portfolio4 .thumbnail {background-image: url(../image/portfolio4.png); background-size: cover;}
#portfolio5 .thumbnail {background-image: url(../image/portfolio5.png); background-size: cover;}
#portfolio6 .thumbnail {background-image: url(../image/portfolio6.png);background-size: cover;} 

.works_info{
	width: 500px;
	height: 500px;
	float:left;
}
.works_info h3 {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 20px;
	color: rgb(255, 123, 0);
	transform: translateY(-30%);
	transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	opacity: 0;
}
.works_info p{
	font-size: 14px;
	line-height: 20px;
	font-weight: lighter;
	margin-top: 30px;
	transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	opacity: 0;
}

.works_info h4 {font-size: 30px;
	transform: translateY(-50%);
	transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	opacity: 0;
}

.works_info .button{
	width: 200px;
	position: absolute;
	bottom:0;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	transform: translateY(30%);
}
.works_info h4 span{
	color:#cdff44;
	font-weight: 800;
}
.works {
	display: none;
}
#portfolio1{
	opacity: 0;
}
#portfolio2{
	opacity: 0;
}
#portfolio3{
	opacity: 0;
}
#portfolio4{
	opacity: 0;
}
#portfolio5{
	opacity: 0;
}
#portfolio6{
	opacity: 0;
}

.back{
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	bottom:0; right: 0;
	text-transform: uppercase;
	color:#ff31dd;
	font-weight: 800;
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { /*스타일입력*/}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
  /*스타일입력*/
  html,body{width: 100vw;}
  .works_tit{font-size: 3rem; line-height: 150%; height: fit-content;}
  .thumbnail{width: 90vw; height: 30vh; float: none;}
  .works_info{width: 90vw; float:none; margin-top: 50px;}
  .works_info .button, .back {position: relative; margin: 20px 0;}
  .button{margin-top: 20px;}
  .works{margin-left: 5vw; margin-top: 100px;}
}